<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022994478603-orrlpuivo4isqai1qhid6naq4c2voj3h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDyO2UXQFGonrNwnUBCbjqPuWYNagBtwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1022994478603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ineedserv.servicios</string>
	<key>PROJECT_ID</key>
	<string>servicios-fc6a6</string>
	<key>STORAGE_BUCKET</key>
	<string>servicios-fc6a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022994478603:ios:5866215a7df112bb1a790e</string>
	<key>DATABASE_URL</key>
	<string>https://servicios-fc6a6.firebaseio.com</string>
</dict>
</plist>